inst/doc
.Rbuildignore
.Rproj.user/2A7FE5CD/sources/prop/64FD1054
.Rproj.user/2A7FE5CD/sources/prop/INDEX
.Rproj.user/2A7FE5CD/sources/s-645B383C/497D7226
.Rproj.user/2A7FE5CD/sources/s-645B383C/497D7226-contents
.Rproj.user/2A7FE5CD/sources/s-645B383C/lock_file
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/2A7FE5CD645B383C/chunks.json
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/c4f5v77vidmqh/000002.csv
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/c4f5v77vidmqh/000004.csv
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/c4f5v77vidmqh/000005.metadata
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/c4f5v77vidmqh/000005.png
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/c4f5v77vidmqh/000005.snapshot
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/c5hbvi5yhlm6h/000002.csv
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/c5hbvi5yhlm6h/000003.metadata
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/c5hbvi5yhlm6h/000003.rdf
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/c5hbvi5yhlm6h/000004.csv
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/c5hbvi5yhlm6h/000005.metadata
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/c5hbvi5yhlm6h/000005.rdf
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/c5hbvi5yhlm6h/000006.csv
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/c5hbvi5yhlm6h/000007.metadata
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/c5hbvi5yhlm6h/000007.rdf
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/c5hbvi5yhlm6h/000008.csv
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/c5hbvi5yhlm6h/000009.metadata
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/c5hbvi5yhlm6h/000009.rdf
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/c5hbvi5yhlm6h/00000a.csv
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/cav380jrzvlkf/000002.csv
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/cbeolp93eiijl/000002.csv
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/cgwein1booqlx/000002.csv
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/chunks.json
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/cmfx1znvc3j94/000002.csv
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/cmfx1znvc3j94/000004.csv
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/cmfx1znvc3j94/000005.metadata
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/cmfx1znvc3j94/000005.png
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/cmfx1znvc3j94/000005.snapshot
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/cntygl6vm2gfq/000002.csv
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/cntygl6vm2gfq/000003.metadata
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/cntygl6vm2gfq/000003.rdf
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/cntygl6vm2gfq/000004.csv
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/cntygl6vm2gfq/000005.metadata
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/cntygl6vm2gfq/000005.rdf
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/cntygl6vm2gfq/000006.csv
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/cntygl6vm2gfq/000007.metadata
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/cntygl6vm2gfq/000007.rdf
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/cntygl6vm2gfq/000008.csv
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/cntygl6vm2gfq/000009.metadata
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/cntygl6vm2gfq/000009.rdf
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/cntygl6vm2gfq/00000a.csv
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/cqcswmnuqhuku/000002.csv
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/cqcswmnuqhuku/000003.metadata
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/cqcswmnuqhuku/000003.rdf
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/cqcswmnuqhuku/000004.csv
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/ctt1meuhyme8h/000006.csv
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/ctt1meuhyme8h/000008.csv
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/ctt1meuhyme8h/000009.metadata
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/ctt1meuhyme8h/000009.png
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/ctt1meuhyme8h/000009.snapshot
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/cuymqfq1ow5ds/000002.csv
.Rproj.user/shared/notebooks/55476EA2-getting_started/1/s/cv6z5pvl2pc5s/000002.csv
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
